<div class="background-darken show-hide" id="background-darken"></div>

<header class="header">
    <div class="header--flex">

    <div routerLink="/" class="header--logo">
        <p class="header--logo--text">Tarsia</p>
    </div>

    <nav class="header--nav">
        <ul class="nav--menu">
        <li class="nav--menu--item">
                <a routerLink="/" class="nav--menu--item--link">Home</a></li>
        <li class="nav--menu--item">
                <a routerLink="contact" class="nav--menu--item--link" >Contatti</a></li>
            <li class="nav--menu--item">
                <a routerLink="biography" class="nav--menu--item--link" >Biografia</a></li>
            
        </ul>
    </nav>

    <div class="header--social">
        <ul class="header--social--list">
            <li class="header--social--list--item">
                <a class="header--social--list--item--link"><i class="fa-brands fa-imdb"></i></a></li>
            <li class="header--social--list--item">
                <a href="https://www.facebook.com/alessandrobencini.s" class="header--social--list--item--link"><i class="fab fa-facebook"></i></a></li>
        </ul>
    </div>

    <div class="header--ham-container" id="ham" on-click="animateMenu()">
        <div class="header--ham-container--btn">
            <div class="header--ham-container--btn--line" id="line1"></div>
            <div class="header--ham-container--btn--line" id="line2"></div>
            <div class="header--ham-container--btn--line" id="line3"></div>
        </div>
    </div>

</div>
</header>

<div class="header--ham-menu" id="ham-menu">
    <nav class="header--ham-menu--nav">
        <ul class="ham--list">
            <li class="ham--list--item" on-click="animateMenu()">
                <a routerLink="/" class="ham--list--item--link">Home</a></li>
            <li class="ham--list--item" on-click="animateMenu()">
                <a routerLink="contact" class="ham--list--item--link" >Contatti</a></li>
            <li class="ham--list--item" on-click="animateMenu()">
                <a routerLink="biography" class="ham--list--item--link" >Biografia</a></li>
        </ul>
    </nav>

    <div class="header--ham-social">
        <ul class="ham--social--list">
            <li class="ham--social--list--item">
                <a href="https://www.instagram.com/tarsiatat/" target="_blank" class="ham--social--list--item--link"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ham--social--list--item">
                <a href="https://open.spotify.com/artist/0GxuYc2fmF18sLmWU53zH5" target="_blank" class="ham--social--list--item--link"><i class="fa-brands fa-spotify"></i></a></li>
            <li class="ham--social--list--item">
                <a href="https://music.apple.com/it/artist/tarsia/1300658352" target="_blank" class="ham--social--list--item--link"><i class="fa-brands fa-itunes"></i></a></li>
            <li class="ham--social--list--item">
                <a href="https://music.amazon.it/artists/B076VWVDPL/tarsia" target="_blank" class="ham--social--list--item--link"><i class="fa-brands fa-amazon"></i></a></li>    
            <li class="ham--social--list--item">
                <a href="https://music.youtube.com/channel/UCdP9c5QUqg9qaoJe-NbeXmQ" target="_blank" class="ham--social--list--item--link"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
