<footer class="footer">
    <div class="footer--social">
      <a href="https://www.instagram.com/tarsiatat/" target="_blank" class="footer--social--icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://open.spotify.com/artist/0GxuYc2fmF18sLmWU53zH5" target="_blank" class="footer--social--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/tarsia/1300658352" target="_blank" class="footer--social--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B076VWVDPL/tarsia" target="_blank" class="footer--social--icon"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://music.youtube.com/channel/UCdP9c5QUqg9qaoJe-NbeXmQ" target="_blank" class="footer--social--icon"><i class="fa-brands fa-youtube"></i></a>
    </div>
      <p>
        Copyright © AB Media - {{ date.getFullYear() }}
      </p>
    </footer>