<footer class="footer">
    <div class="footer--social">
      <!-- <a href="https://www.imdb.com/name/nm12897665/" target="_blank" class="footer--social--icon"><i class="fa-brands fa-imdb"></i></a>
      <a href="https://www.facebook.com/alessandrobencini.s" target="_blank" class="footer--social--icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://open.spotify.com/artist/6wYTfoadkkUcZAXzrz67MT?si=1DqzIvR4QQGAghoWs2K78A" target="_blank" class="footer--social--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/alessandro-bencini/1612535867" target="_blank" class="footer--social--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B008SI4EN0/alessandro-bencini?marketplaceId=APJ6JRA9NG5V4&musicTerritory=IT&ref=dm_sh_p7nntpYjzjBNLGXyyKF6oKYAU" target="_blank" class="footer--social--icon"><i class="fa-brands fa-amazon"></i></a> -->
    </div>
      <p>
        Copyright © AB Media - {{ date.getFullYear() }}
      </p>
    </footer>