/* Main colors */

$dark: #402616 /*#242424*/;
$light: #fffbee;
$main: #e7dab3;
$accent: #a05b3a; /*#7a231f #6d738f*/
$accent-light: #dbaf3e;
$accent-dark: #402616 /*#282b38*/;
$gradient: linear-gradient(80deg, #402616, #dbaf3e 60%);

/* Typography */
$text-dark: #000000d5;
$text-light: #ffffffe8;

/* Brands */
$appleMusic: #e7515f;
$facebook: #425894;
$imdb: #edc748;
$spotify: #65d46e;
$amazonMusic: #3d06f3;
$instagram: linear-gradient(45deg, #733da6, #e39736 60%);
$youtube: #ea3323;
