<section class="biography">
    <h2 class="page-title">Biografia</h2>

    <img src="assets/img/tarsia1.jpg" alt="Foto di Tarsia" class="biography--img">

    <p>
    Tatiana Tarsia, cantautrice, in arte <strong>TARSIA</strong>, nasce a Policoro (MT), in Basilicata. <br>
    </p>
    <p>
    Sin da piccola inizia a scrivere canzoni e studiare canto e pianoforte nel suo amato paese, circondata dal sostegno e dal calore della sua famiglia. La sua forte passione per la musica è ereditata dal padre. Le sue <strong>influenze musicali</strong> e sonore prendono ispirazione da Pino Daniele, Amy Winehouse, fino ad arrivare alla musica popolare della sua terra natìa. Il suo progetto originale attualmente in lavorazione è un crossover musicale tra diversi generi, caratterizzato da sonorità funk, soul, pop e jazz. Il <strong>debutto discografico</strong> di Tarsia è nel 2017 con il brano <strong>“Bolle di sapone”</strong>, accompagnato dal videoclip girato in Basilicata. Si susseguono una serie di eventi e festival che la vedono protagonista, come il “Premio Incanto” nel 2018, ma anche un’importante attività concertistica in diversi club italiani tra cui: il Bravo Cafè e Cantina Bentivoglio di Bologna, l’Asino che Vola di Roma, Ottavo Talento di Bari e tanti altri. <br>
    </p>
    <p>
    Collabora e condivide il palco con musicisti ed artisti famosi nel panorama musicale italiano ed europeo. Apre le date del Tour “Pace” di <strong>Fabrizio Moro</strong> per il 2017/2018 in tutta Italia. Ospite anche al Festival lucano “Blues in Town” 2018, Concerti per Matera 2019, senza tralasciare il Maratea Meeting degli artisti del 2015. Fra le pubblicazioni musicali di Tarsia c’è il progetto “BACK TO 60’s”, in esclusiva su Youtube, una serie di Videoclip prodotti in modalità Live Session, nato dalla collaborazione con il regista Giuseppe Marco Albano e <strong>Mediterraneo Cinematografica</strong>, in cui interpreta brani italiani degli anni 60, cercando di trasmettere tutto l'amore per le sue radici e per l'Italia. <br>
    </p>
    <p>
     Fra gli studi musicali di Tarsia, oggi <strong>Vocal Coach in diverse accademie nazionali</strong>, c’è un percorso di formazione molto intenso e svolto in più occasioni in diverse parti d’Italia, ma anche all’estero. La sua formazione inizia con un corso di “canto livello Professional” presso <strong>Università Musica e Spettacolo di Napoli</strong>, continua a Madrid con il conservatorio di arte sceniche “Scaena Carmen Roche”, studiando con diversi artisti della scena teatrale e musicale spagnola ed europea, laureandosi nel 2012, e si conclude a Roma presso la <strong>Saint Louis College of Music</strong>. Fra i vari step della sua carriera artistica c’è anche quello di autrice di musiche da film con il gruppo "Flim" del brano “1st of November” contenuto nell'album "Weigthed Ground".
    </p>
   
</section>
