<section class="biography">
    <h2 class="page-title">Biografia</h2>

    <div class="biography--container">
        <img src="assets/img/tarsia3.jpeg" alt="Foto di Tarsia" class="biography--img">
        <div class="biography--body">
            <p>
            <strong>Cantautrice, interprete e compositore</strong>, Tatiana Tarsia, in arte <strong>Tarsia</strong>, nasce a Policoro (MT), in Basilicata, da una storica famiglia di intarsiatori. Fin da piccola si dedica alla musica condividendo questa passione con il padre, che la accompagna nei primi passi della sua carriera e le trasmette l'amore per questo mestiere. Studia in Italia e all'estero canto, pianoforte ed arti sceniche e si esibisce in numerosi contest e festival in giro per il mondo. <br>
            </p>
            <p>
            Nel 2016 partecipa al progetto “Back To 60’s”, in esclusiva su YouTube, ed interpreta alcuni successi italiani degli anni 60, cercando di trasmettere tutto l'amore per le sue radici e per l'Italia. <strong>Nel 2017 pubblica il suo primo singolo</strong> in carriera <strong>"Bolle di Sapone"</strong>, una produzione indipendente che da vita ad una serie di collaborazioni e partecipazioni in studio e live, con diversi musicisti ed artisti famosi nel panorama musicale italiano ed europeo, aprendo fra gli altri, le date del tour "Pace" di <strong>Fabrizio Moro</strong> del 2017 e partecipando a vari Festival collezionando una serie di vittorie. <br>
            </p>
            <p>
            Il suo <strong>primo progetto discografico</strong> prende forma nel 2020, con l'uscita dei singoli e videoclip "Passi", "Dove siamo stati bene" e "Boom" prodotte da Maqueta Records con la direzione artistica di Fernando Alba. Questi brani sono contenuti nell'Album <strong>Luna Park</strong>, uscito questo 23 Giugno 2022 in digitale ed in Vinile. È un crossover tra diversi generi musicali, caratterizzato principalmente da sonorità mediterranee con influenze funky/soul e pop/jazz. <br>
            </p>
            <p>
            Si è esibita in diversi club italiani tra cui: il Bravo Cafèe la Cantina Bentivoglio di Bologna, l’Asino che Vola e l’Alcazar live di Roma, Ottavo Talento di Bari e tanti altri.
            </p>
        </div>
    </div>

    <button routerLink="contact" class="cta btn btn-dark">Contatta</button>
   
</section>
