@use "../helpers" as *;

.footer {
  background-color: $dark;
  color: $text-light;
  text-align: center;
  padding: 3em 0;
  margin-top: 4em;
  font-size: 0.8em;

  &--social {
    margin-bottom: 2.5em;
    display: flex;
    justify-content: center;
    gap: 2em;

    &--icon {
      font-size: 2.75em;
      color: inherit;
      display: block;

      &:hover,
      &:focus {
        .fa-amazon {
          color: $amazonMusic;
        }
        .fa-itunes {
          color: $appleMusic;
        }
        .fa-facebook {
          color: $facebook;
        }
        .fa-imdb {
          color: $imdb;
        }
        .fa-spotify {
          color: $spotify;
        }
      }
    }
  }
}

@media (min-width: 790px) {
  .footer--social {
    gap: 2.5em;

    &--icon {
      font-size: 3em;
    }
  }
}
