
<div class="hero">
    <div class="hero--container">
        <div class="hero--triangle"></div>
      <div class="hero--text">
        <h1 class="hero--title">Tarsia</h1>
        <!-- <p class="hero--subtitle">Film, TV e videogiochi</p> -->
        <button routerLink="contact" class="hero--btn btn btn-accent">Contatta</button>
      </div>

      <img src="assets/img/tarsia2.png" alt="" class="hero--img">
    </div>
  </div>

  <section class="social-section">
      <a href="https://www.instagram.com/tarsiatat/" target="_blank" class="social-section--icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://open.spotify.com/artist/0GxuYc2fmF18sLmWU53zH5" target="_blank" class="social-section--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/tarsia/1300658352" target="_blank" class="social-section--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B076VWVDPL/tarsia" target="_blank" class="social-section--icon"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://music.youtube.com/channel/UCdP9c5QUqg9qaoJe-NbeXmQ" target="_blank" class="social-section--icon"><i class="fa-brands fa-youtube"></i></a>
  </section>

  <section class="recent-works">
    <h2 class="section-title">Novità</h2>
    <img src="assets/img/discog/lunapark.jpg" alt="Copertina Luna Park" class="recent-works--img">
    <a href="https://lnk.to/Tarsia-LunaPark" target="_blank" class="btn btn-dark">Acolta ora</a> 
  </section>

  <section class="youtube">
    <div class="youtube--top"></div>
    <h2 class="section-title">Videoclip</h2>
    <div class="youtube--container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLGORASx26VdJu7yFNHVGfGTBvQB9Zvg0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="youtube--bottom"></div>
  </section>

  <section class="home-bio">
    <h2 class="section-title">Su di me</h2>
    <p class="paragraph">
      <strong>Cantautrice, interprete e compositore</strong>, Tatiana Tarsia, in arte <strong>Tarsia</strong>, nasce a Policoro (MT), in Basilicata, da una storica famiglia di intarsiatori. Fin da piccola si dedica alla musica condividendo questa passione con il padre, che la accompagna nei primi passi della sua carriera e le trasmette l'amore per questo mestiere. Studia in Italia e all'estero canto, pianoforte ed arti sceniche e si esibisce in numerosi contest e festival in giro per il mondo. <br> <br>
    </p>

    <button routerLink="biography" class="cta btn btn-dark">Tutta la bio</button>
  </section>