
<div class="hero">
    <div class="hero--container">
        <div class="hero--triangle"></div>
      <div class="hero--text">
        <h1 class="hero--title">Tarsia</h1>
        <!-- <p class="hero--subtitle">Film, TV e videogiochi</p> -->
        <button routerLink="contact" class="hero--btn btn btn-accent">Contatta</button>
      </div>

      <img src="assets/img/tarsia2.png" alt="" class="hero--img">
    </div>
    <!-- <div class="hero--social">
      <a href="https://www.imdb.com/name/nm12897665/" target="_blank" class="hero--social--icon"><i class="fa-brands fa-imdb"></i></a>
      <a href="https://www.facebook.com/alessandrobencini.s" target="_blank" class="hero--social--icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://open.spotify.com/artist/6wYTfoadkkUcZAXzrz67MT?si=1DqzIvR4QQGAghoWs2K78A" target="_blank" class="hero--social--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/alessandro-bencini/1612535867" target="_blank" class="hero--social--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B008SI4EN0/alessandro-bencini?marketplaceId=APJ6JRA9NG5V4&musicTerritory=IT&ref=dm_sh_p7nntpYjzjBNLGXyyKF6oKYAU" target="_blank" class="hero--social--icon"><i class="fa-brands fa-amazon"></i></a>
    </div> -->
  </div>

  <!-- <section class="recent-works">
    <h2 class="section-title" i18n>Lavori recenti</h2>
    <app-works></app-works>
  </section> -->

  <section class="home-bio">
    <h2 class="section-title">Chi sono</h2>
    <p class="paragraph">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quam, quos animi molestias ipsam tenetur quisquam, cum in adipisci rem explicabo optio atque a, consequuntur aliquam. Aut fugit repudiandae praesentium!
      Fuga perspiciatis deserunt ipsam maiores quis quod voluptatum alias, nihil numquam mollitia dolorem placeat eligendi repudiandae qui sint quia praesentium nobis optio quaerat consequuntur tempore. Officiis reprehenderit enim dolor libero.
      Sed doloremque sint quis ullam amet sapiente, expedita id. Eos non consequatur debitis cumque quaerat cupiditate voluptatem repudiandae nobis quo, explicabo impedit corporis, distinctio qui ut eum odit facilis voluptatibus?
    </p>

    <button routerLink="contact" class="cta btn btn-dark">Contatta</button>
  </section>