
<div class="hero">
    <div class="hero--container">
        <div class="hero--triangle"></div>
      <div class="hero--text">
        <h1 class="hero--title">Tarsia</h1>
        <!-- <p class="hero--subtitle">Film, TV e videogiochi</p> -->
        <button routerLink="contact" class="hero--btn btn btn-accent">Contatta</button>
      </div>

      <img src="assets/img/tarsia2.png" alt="" class="hero--img">
    </div>
  </div>

  <section class="social-section">
      <a href="https://www.instagram.com/tarsiatat/" target="_blank" class="social-section--icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://open.spotify.com/artist/0GxuYc2fmF18sLmWU53zH5" target="_blank" class="social-section--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/tarsia/1300658352" target="_blank" class="social-section--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B076VWVDPL/tarsia" target="_blank" class="social-section--icon"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://music.youtube.com/channel/UCdP9c5QUqg9qaoJe-NbeXmQ" target="_blank" class="social-section--icon"><i class="fa-brands fa-youtube"></i></a>
  </section>

  <section class="recent-works">
    <h2 class="section-title">Novità</h2>
    <img src="assets/img/discog/lunapark.jpg" alt="Copertina Luna Park" class="recent-works--img">
    <a href="https://lnk.to/Tarsia-LunaPark" target="_blank" class="btn btn-dark">Acolta ora</a> 
  </section>

  <section class="home-bio">
    <h2 class="section-title">Su di me</h2>
    <p class="paragraph">
      Tatiana Tarsia, cantautrice, in arte <strong>TARSIA</strong>, nasce a Policoro (MT), in Basilicata. <br> <br>
      Collabora e condivide il palco con musicisti ed artisti famosi nel panorama musicale italiano ed europeo. Apre le date del Tour “Pace” di <strong>Fabrizio Moro</strong> per il 2017/2018 in tutta Italia. Ospite anche al Festival lucano “Blues in Town” 2018, Concerti per Matera 2019, senza tralasciare il Maratea Meeting degli artisti del 2015. Fra le pubblicazioni musicali di Tarsia c’è il progetto “BACK TO 60’s”, in esclusiva su Youtube, una serie di Videoclip prodotti in modalità Live Session, nato dalla collaborazione con il regista Giuseppe Marco Albano e <strong>Mediterraneo Cinematografica</strong>, in cui interpreta brani italiani degli anni 60, cercando di trasmettere tutto l'amore per le sue radici e per l'Italia.
    </p>

    <button routerLink="biography" class="cta btn btn-dark">Tutta la bio</button>
  </section>