/* Main colors */

$dark: #e7dab3 /*#242424*/;
$main: #e7dab3;
$accent: #a05b3a; /*#7a231f #6d738f*/
$accent-dark: #402616 /*#282b38*/;
$gradient: linear-gradient(45deg, #09009f, #00ff95 80%);

/* Typography */
$text-dark: #000000d5;
$text-light: #ffffffe8;

/* Brands */
$appleMusic: #e7515f;
$facebook: #425894;
$imdb: #edc748;
$spotify: #65d46e;
$amazonMusic: #3d06f3;
