@use "_colors" as *;

.section-title,
.page-title {
  background: $gradient;
  background-clip: text;
  color: transparent;
}

.page-title {
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 1.65em;

  /* &::after {
    content: "";
    display: block;
    height: 3px;
    width: 1.5em;
    border-radius: 1px;
    background-color: $dark;
    opacity: 50%;
    margin: 0 auto;
    margin-top: 0.25em;
  } */
}
